.container{
    
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
}
.box{
    display : grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 10px;
    padding-left: 600px;
    padding-top: 300px;
}
.text{
    padding-left: 500px;
    /* padding-top: 200px; */
}
